<!DOCTYPE HTML>
<html>
	<head>
		{% seo %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<h1><a style="font-size: 2.95em;" href="https://chuletaseo.com">ChuletaSEO</a></h1>
          <h1>Suscríbete a la <strong><a href="https://newsletter.chuletaseo.com">newsletter</a></strong> <br/>y todos los jueves tendrás el mejor<br />
					<a href="https://newsletter.chuletaseo.com">resumen SEO</a>.</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						
            {{ content }}

						<ul class="actions">
							<li><a href="https://newsletter.chuletaseo.com" class="button">Quiero estar al día en SEO</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Recent Work</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/01.jpg" class="image fit thumb"><img src="images/thumbs/01.jpg" alt="" /></a>
								<h3>Fuentes de información</h3>
								<p>Importante para estar al día de los cambios del sector.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/02.jpg" class="image fit thumb"><img src="images/thumbs/02.jpg" alt="" /></a>
								<h3>Primeros pasos en SEO/h3>
								<p>Todo lo que necesitas para comenzar a definir una estrategia SEO.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/03.jpg" class="image fit thumb"><img src="images/thumbs/03.jpg" alt="" /></a>
								<h3>Indexación</h3>
								<p>SEO técnico para facilitar rastreo e indexación.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/04.jpg" class="image fit thumb"><img src="images/thumbs/04.jpg" alt="" /></a>
								<h3>Contenido</h3>
								<p>Genera contenidos optimizados y de calidad orientados a la conversión.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/05.jpg" class="image fit thumb"><img src="images/thumbs/05.jpg" alt="" /></a>
								<h3>Enlazado</h3>
								<p>Estrategias de enlazado internas y externas.</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/06.jpg" class="image fit thumb"><img src="images/thumbs/06.jpg" alt="" /></a>
								<h3>Dashboards y reporting</h3>
								<p>Utiliza las métricas y gráficas adecuadas.</p>
							</article>
						</div>
					</section>




			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a target="_blank" href="https://twitter.com/emirodgar" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a target="_blank" href="https://es.linkedin.com/in/emirodgar" class="icon brands fa-github"><span class="label">LinkedIn</span></a></li>
						<li><a target="_blank" href="https://newsletter.chuletaseo.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>ChuletaSEO</li> <li> <a href="https://emirodgar.com">Emirodgar</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>