<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link rel="icon" href="cdn/images/hash.png" />
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W9GZ3MP');</script>
{% seo %}
<link rel="stylesheet" type="text/css" href="cdn/css/styles.pure.css" />
</head>

<body data-spy="scroll" data-target=".spyscroll" data-offset="125">

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9GZ3MP"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>



<!-- Document Wrapper   
=============================== -->
<div id="main-wrapper"> 
  
  <!-- Header
  ============================ -->
  <header id="header" class="sticky-top"> 
    <!-- Navbar -->
    <nav class="primary-menu navbar navbar-expand-lg navbar-dropdown-dark">
      <div class="container-fluid">
        <!-- Sidebar Toggler -->
		<button id="sidebarCollapse" class="navbar-toggler d-block d-md-none" type="button"><span></span><span class="w-75"></span><span class="w-50"></span></button>
		
		<!-- Logo --> 
        <a class="logo ml-md-3" href="https://chuletaseo.com" title="Chuleta SEO">CS</a> 
		<span class="text-2 ml-2">v3.0</span> 
        <!-- Logo End -->
        
		<!-- Navbar Toggler -->
		<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#header-nav"></button>
        

        <!--<ul class="social-icons social-icons-sm ml-lg-2 mr-2">
          <li class="social-icons-twitter"><a data-toggle="tooltip" href="https://twitter.com/emirodgar" target="_blank" title="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a></li>
          <li class="social-icons-facebook"><a data-toggle="tooltip" href="https://es.linkedin.com/in/emirodgar" target="_blank" title="" data-original-title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
        </ul>-->
      </div>
    </nav>
    <!-- Navbar End --> 
  </header>
  <!-- Header End --> 
  
  <!-- Content
  ============================ -->
  <div id="content" role="main">
    
	<!-- Sidebar Navigation
	============================ -->
	<div class="idocs-navigation bg-light">
	  {% if page.folder != "autor" %}
	  <ul class="nav flex-column spyscroll">
        <li class="nav-item"><a class="nav-link active" href="#cs_principio">Secciones</a>
			<ul class="nav flex-column">
			  <li class="nav-item"><a class="nav-link" href="#cs_intro">Introducción</a></li>
			  <li class="nav-item"><a class="nav-link" href="#cs_recursos">Recursos</a></li>
			  <li class="nav-item"><a class="nav-link" href="#cs_herramientas">Herramientas</a></li>
			  <li class="nav-item"><a class="nav-link" href="#cs_pr">Preguntas y respuestas</a></li>
			</ul>
		</li>
		<li class="nav-item"><a class="nav-link" href="#cs_servicios">Chuleta SEO</a>
			<ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#newsletter">Newsletter</a></li>
          </ul>
		</li>
	  </ul>
	  {% endif %}
	  <ul class="nav flex-column ">
		<li class="nav-item"><a 
      
      {% if page.folder == "fuentes-informacion" %}
        class="nav-link nav-menu active"
      {% else %}
        class="nav-link nav-menu"
      {% endif %}
      
      href="">Empezar en SEO</a>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link external" data-target="#link" href="https://chuletaseo.com/fuentes-informacion">Fuentes de información</a></li>                       
            <li class="nav-item"><a class="nav-link external" href="https://chuletaseo.com/guias-seo">Guías SEO</a></li>
            <li class="nav-item"><a class="nav-link external" href="https://chuletaseo.com/herramientas-seo">Herramientas SEO</a></li>
            <li class="nav-item"><a class="nav-link external" data-target="#link" href="https://chuletaseo.com/auditoria-seo">Auditoría SEO</a></li> 
            <li class="nav-item"><a class="nav-link external" href="https://chuletaseo.com/primeros-pasos-seo">Primeros pasos</a></li>
          </ul>
        </li>
        <li class="nav-item"><a 
          
          {% if page.folder == "indexacion" %}
        class="nav-link nav-menu active"
      {% else %}
        class="nav-link nav-menu"
      {% endif %}
          
          href="">Indexación</a>
          <ul class="nav flex-column" >
            <li class="nav-item"><a class="nav-link external" data-target="#link" href="https://chuletaseo.com/migracion-seo">Migración SEO</a></li>  
          </ul>
        </li>
        <li class="nav-item"><a 
          
          {% if page.folder == "contenidos" %}
        class="nav-link nav-menu active"
      {% else %}
        class="nav-link nav-menu"
      {% endif %}
          
          href="">Contenidos</a>
			<ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link external" data-target="#link" href="https://chuletaseo.com/keyword-research">Keyword research</a></li>
            
          </ul>
		</li>
        <li class="nav-item"><a 
          
          {% if page.folder == "enlazado" %}
        class="nav-link nav-menu active"
      {% else %}
        class="nav-link nav-menu"
      {% endif %}
          
          
          href="">Enlazado</a>
          <ul class="nav flex-column" style="display:none;">
            <li class="nav-item"><a class="nav-link external" data-target="#link" href="https://chuletaseo.com/enlazado">Estrategia de enlazado</a></li>
          </ul>
        </li>
		<li class="nav-item"><a 
      {% if page.folder == "informes" %}
        class="nav-link nav-menu active"
      {% else %}
        class="nav-link nav-menu"
      {% endif %}

      data-target="#link" href="">Informes</a>
		      <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link external" href="https://chuletaseo.com/informes-seo">Informes SEO</a></li>
            <li class="nav-item"><a class="nav-link external" href="https://chuletaseo.com/google-analytics">Google Analytics</a></li>
          </ul>
    </li>
      </ul>
    </div>
    
    <!-- Docs Content
	============================ -->
    <div class="idocs-content">
      <div class="container"> 
        
        <!-- Getting Started
		============================ -->
        <section id="cs_principio">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.description }}</p>
		{% if page.folder != "autor" %}
		<hr>
		<div class="row">
			<div class="col-sm-6 col-lg-4">
				<ul class="list-unstyled">
					<li><strong>Tiempo de lectura:</strong> {% assign words = content | number_of_words %}
						{% if words < 360 %}
						  1 minuto
						{% else %}
						  {{ words | divided_by:180 }} minutos
						{% endif %}</li>
					<li><strong>Autor:</strong>
            {% if page.author == "Emirodgar" %}
                <a href="{{ site.url }}/emirodgar">Emirodgar</a>          
            {% else %}
              {{ page.author }} 
            {% endif %}
            
          </li>
				</ul>
			</div>
			<div class="col-sm-6 col-lg-4">
				<ul class="list-unstyled">
					<li><strong class="font-weight-700">Publicado:</strong> {{ page.date |  date: ' %d/%m/%Y' }}</li>
					{% if page.date_modified != null %}
					<li><strong>Actualizado:</strong> {{ page.date_modified |  date: ' %d/%m/%Y' }}</li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% endif %}
        </section>
        
		<hr class="divider">
		
        <!-- Installation
		============================ -->
        <section id="cs_intro">
			{{ content }}          
        </section>
        
		<hr class="divider">
		
		
        <!-- Changelog
		============================ -->
		
        <section id="cs_servicios">
          <h2>Servicios adicionales</h2>
          <p class="text-4">Aprovecha al máximo el conocimiento SEO de este portal</p>
		  
		  <h3 id="newsletter">Newsletter <small class="text-muted"></small></h3>

      <a class="btn btn-primary" target="_blank" href="https://www.linkedin.com/newsletters/chuleta-seo-6975060536694632448/"> Suscribirse a la newsletter en Linkedin</a>
          <ul class="changelog" style="display:none;">
			    <p class=""> Suscríbete a la <a target="_blank" href="http://newsletter.chuletaseo.com">Newsletter</a> de Chuleta SEO y recibe todas las semanas las últimas noticias del sector.</p>
  
          </ul>
        </section>        
        
      </div>
    </div>
	
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================ -->
  <footer id="footer" class="section footer-text-dark">
    <div class="container">
      <p class="text-center lead"> <strong>ChuletaSEO</strong></p>
	  <p class="text-2 text-center mb-0">Programado por <a class="btn-link" target="_blank" href="https://emirodgar.com">Emirodgar</a> / <a href="https://twitter.com/emirodgar" target="_blank">Twitter</a> / <a href="https://es.linkedin.com/in/emirodgar" target="_blank">LinkedIn</a></p>
    </div>
  </footer>
  <!-- Footer end -->
  
</div>
<!-- Document Wrapper end --> 

<!-- Back To Top --> 
<a id="back-to-top" data-toggle="tooltip" title="Subir arriba" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- JavaScript
============================ -->
<script src="cdn/vendor/jquery/jquery.min.js"></script> 
<script src="cdn/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<!-- Easing --> 
<script src="cdn/vendor/jquery.easing/jquery.easing.min.js"></script> 
<!-- Custom Script -->
<script src="cdn/js/theme.js"></script>
</body>
</html>
